body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

.folder > input {
    display: none;
}

.folder > label {
    cursor: pointer;
    display: block;
    padding: 10px 5px;
    position: relative;
}

.folder > label::before {
    content: "";
    width: 12px;
    height: 12px;
    background-image: url('folder_icon.png'); /* Замените на путь к вашей иконке папки */
    background-size: cover;
    display: inline-block;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.folder > ul {
    margin-left: 20px;
    display: none;
}

.folder > input:checked ~ ul {
    display: block;
}
