/* Разделитель между элементами */
.separator {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}

/* Иконка для файла */
.file::before {
    content: "";
    width: 12px;
    height: 12px;
    background-image: url(1.png); /* Замените на путь к вашей иконке файла */
    background-size: cover;
    display: inline-block;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

/* Иконка для открытой папки */
.folder > input:checked + label::before {
    background-image: url(1.png); /* Замените на путь к вашей иконке открытой папки */
}

/* Иконка для закрытой папки */
.folder > label::before {
    content: "";
    width: 12px;
    height: 12px;
    background-image: url(2.png); /* Замените на путь к вашей иконке закрытой папки */
    background-size: cover;
    display: inline-block;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

/* Стили для ссылок (файлов) */
a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 20px; /* Смещаем текст, чтобы он был справа от иконки */
}

/* Иконка для ссылки (файла) */
a::before {
    content: "";
    width: 12px;
    height: 12px;
    background-image: url(1.png); /* Замените на путь к вашей иконке файла */
    background-size: cover;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
